<header class="lg:px-[60px] md:px-[30px] sm:px-[16px] mobile:px-[16px] header-shadow">
  <div class="container mx-auto flex justify-between bg-white py-[14px]">
    <div class="flex items-center gap-[40px]">
      <img class="" src="./assets/icons/header-logo.svg" alt=""/>
      <ul class="xl:flex gap-[24px] hidden">
        <li class="">
          <a class="b4 text-[#262626]">Частным лицам</a>
        </li>
        <li class="">
          <a class="b4 text-[#262626]">Бизнесу</a>
        </li>
        <li class="">
          <a class="b4 text-[#262626]">О банке</a>
        </li>
        <li class="">
          <a class="b4 text-[#262626]">Контакты</a>
        </li>
        <li class="">
          <a class="b4 text-[#262626]">Еще</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center lg:gap-[21px] gap-[12px]">

      <div class="lg:flex md:flex items-center gap-[10px] hidden">
        <div class="h-[38px] flex items-center gap-[8px] border border-1 border-[#C8C8C8] p-[12px] rounded-[12px] xl:hidden">
          <img class="w-[18px] h-[18px]" src="./assets/icons/lupe.svg" alt="lupe icon">
          <input class="h-[18px] focus:outline-none" placeholder="Поиск">
        </div>
        <img class="border border-solid border-[#E8E8E8] h-[38px] w-[38px] px-[10px] rounded-[10px] hidden xl:block" src="./assets/icons/lupe.svg" alt=""/>
        <img class="border border-solid border-[#E8E8E8] h-[38px] w-[38px] px-[10px] rounded-[10px]" src="./assets/icons/eye.svg" alt=""/>
        <p class="b4 text-[#262626] border border-solid border-[#E8E8E8] h-[38px] w-[38px] px-[10px] rounded-[10px] flex items-center justify-center">RU</p>
      </div>
      <button class="nav-menu text-[#fff] bg-[#27C5D0] h-[38px] py-[10px] px-[24px] rounded-[12px] flex items-center nav-menu">Войти</button>
      <button class="h-[38px] w-[38px] flex justify-center items-center p-[5px !important] border border-1 border-[#C8C8C8] rounded-[12px] xl:hidden">
        <img class="" src="./assets/icons/hamburger.svg" alt="menu icon">
      </button>
    </div>
  </div>
</header>
