<section class="container mx-auto lg:pb-[100px] md:pb-[80px] sm:pb-[60px] mobile:pb-[60px]
                flex flex-col lg:gap-[40px] md:gap-[32px] sm:gap-[32px] mobile:gap-[32px]">
  <h2 class="h2 text-[#262626]"> Faq works!</h2>
  <div class="">
    <mat-accordion class="flex flex-col lg:gap-[20px] md:gap-[16px] sm:gap-[16px] mobile:gap-[16px]">
      <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="
          h3 text-[#262626]"> Какие документы нужны для оформления кредита? </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">
            Кредит наличными от ВТБ — это выгодная процентная ставка,
            комфортные условия погашения и возможность потратить средства на любые цели.
            Можно оформить кредит наличными без залога, справок и на отличных условиях.
          </p>
          <p class="b3 text-[#262626]">Документы можно предоставить:</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">В банкомате</li>
            <li class="b3 text-[#262626]">В офисе банка</li>
            <li class="b3 text-[#262626]">В приложении</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]"> Могу ли я выбрать машину уже после одобрения кредита? </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">
            Кредит наличными от ВТБ — это выгодная процентная ставка,
            комфортные условия погашения и возможность потратить средства на любые цели.
            Можно оформить кредит наличными без залога, справок и на отличных условиях.
          </p>
          <p class="b3 text-[#262626]">Документы можно предоставить:</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">В банкомате</li>
            <li class="b3 text-[#262626]">В офисе банка</li>
            <li class="b3 text-[#262626]">В приложении</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]"> Можно ли получить автокредит наличными? </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">
            Кредит наличными от ВТБ — это выгодная процентная ставка,
            комфортные условия погашения и возможность потратить средства на любые цели.
            Можно оформить кредит наличными без залога, справок и на отличных условиях.
          </p>
          <p class="b3 text-[#262626]">Документы можно предоставить:</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">В банкомате</li>
            <li class="b3 text-[#262626]">В офисе банка</li>
            <li class="b3 text-[#262626]">В приложении</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]"> Можно ли включить в сумму автокредита оплату страховки, оборудования и других услуг? </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">
            Кредит наличными от ВТБ — это выгодная процентная ставка,
            комфортные условия погашения и возможность потратить средства на любые цели.
            Можно оформить кредит наличными без залога, справок и на отличных условиях.
          </p>
          <p class="b3 text-[#262626]">Документы можно предоставить:</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">В банкомате</li>
            <li class="b3 text-[#262626]">В офисе банка</li>
            <li class="b3 text-[#262626]">В приложении</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]"> Можно ли досрочно погасить автокредит? </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">
            Кредит наличными от ВТБ — это выгодная процентная ставка,
            комфортные условия погашения и возможность потратить средства на любые цели.
            Можно оформить кредит наличными без залога, справок и на отличных условиях.
          </p>
          <p class="b3 text-[#262626]">Документы можно предоставить:</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">В банкомате</li>
            <li class="b3 text-[#262626]">В офисе банка</li>
            <li class="b3 text-[#262626]">В приложении</li>
          </ul>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class=""  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title class="h3 text-[#262626]"> Какую машину можно взять в кредит? </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="lg:w-[640px] md:w-[600px] flex flex-col gap-[16px]">
          <p class="b3 lg:pt-[27px] md:pt-[24px] sm:pt-[16px] mobile:pt-[16px] text-[#262626]">
            Кредит наличными от ВТБ — это выгодная процентная ставка,
            комфортные условия погашения и возможность потратить средства на любые цели.
            Можно оформить кредит наличными без залога, справок и на отличных условиях.
          </p>
          <p class="b3 text-[#262626]">Документы можно предоставить:</p>
          <ul class="custom-bullets flex flex-col gap-[16px]">
            <li class="b3 text-[#262626]">В банкомате</li>
            <li class="b3 text-[#262626]">В офисе банка</li>
            <li class="b3 text-[#262626]">В приложении</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
