<footer class="lg:h-[615px] bg-[#F3F3F3] pt-[28px] pb-[24] lg:px-[60px] md:px-[30px] sm:px-[16px] mobile:px-[16px]">
  <div class="container mx-auto">
    <div class="flex lg:flex-row lg:items-center lg:justify-between md:flex-col sm:flex-col mobile:flex-col
                md:gap-[32px] sm:gap-[24px] mobile:gap-[16px]">
      <div class="w-[560px] flex lg:flex-row lg:justify-between md:flex-col sm:flex-col mobile:flex-col
                  md:gap-[32px] sm:gap-[24px] mobile:gap-[16px]">
        <img class="md:w-[135px] sm:w-[135px] mobile:w-[135px]" src="./assets/icons/header-logo.svg" alt="footer logo">
        <div class="sm:flex-col mobile:flex-col sm:gap-0 mobile:gap-0">
          <a class="h3 text[#262626]" href="998555204444">+998 55 520 44 44</a>
          <p class="b3 text-[#5C5C5C]">Контакт-центр</p>
        </div>
      </div>
      <ul class="w-[250px] flex gap-[18px]">
        <li class=""><a href="https://web.telegram.org/a/" class=""><img class="" src="./assets/icons/telegram.svg"></a></li>
        <li class=""><a href="https://www.facebook.com/" class=""><img class="" src="./assets/icons/facebook.svg"></a></li>
        <li class=""><a href="https://www.instagram.com/" class=""><img class="" src="./assets/icons/instagram.svg"></a></li>
        <li class=""><a href="https://www.youtube.com/" class=""><img class="" src="./assets/icons/youtube.svg"></a></li>
      </ul>
    </div>

    <hr class="border solid border-[#E8E8E8] lg:mt-[28px] lg:mb-[20px] md:my-[20px] sm:mb-[16px] mobile:my-[16px]">

    <div class="flex lg:justify-between">
      <div class="w-[100%] lg:hidden md:block md:flex sm:flex mobile:flex flex-col
                  md:gap-[32px] sm:gap-[32px] mobile:gap-[32px] pb-[32px]">
        <mat-accordion class="lg:hidden md:block md:flex md:flex-col">
          <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
              <ul class="custom-bullets flex flex-col gap-[16px]">
                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">О банке</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Новости</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Вакансии</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Контакты</a></li>
              </ul>
            </div>
          </mat-expansion-panel>

          <hr class="border solid border-[#E8E8E8] md:my-[20px] sm:my-[16px] mobile:my-[16px]">

          <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
              <ul class="custom-bullets flex flex-col gap-[16px]">
                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">О банке</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Новости</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Вакансии</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Контакты</a></li>
              </ul>
            </div>
          </mat-expansion-panel>

          <hr class="border solid border-[#E8E8E8] md:my-[20px] sm:my-[16px] mobile:my-[16px]">

          <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
              <ul class="custom-bullets flex flex-col gap-[16px]">
                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">О банке</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Новости</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Вакансии</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Контакты</a></li>
              </ul>
            </div>
          </mat-expansion-panel>

          <hr class="border solid border-[#E8E8E8] md:my-[20px] sm:my-[16px] mobile:my-[16px]">

          <mat-expansion-panel class="" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title class="h3 text-[#262626]">Mybank</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="sm:w-full mobile:w-full flex flex-col gap-[16px]">
              <ul class="custom-bullets flex flex-col gap-[16px]">
                <li class="b3 text-[#5C5C5C]"> <a class="pt-[27px]" href="">О банке</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Новости</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Вакансии</a></li>
                <li class="b3 text-[#5C5C5C]"> <a class="" href="">Контакты</a></li>
              </ul>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <div class="lg:hidden md:block
                    md:flex sm:flex mobile:flex items-stretch gap-[16px]">
          <img class="" src="./assets/icons/footer-logo.svg">
          <div class="mobile:w-[178px] sm:w-[209px] b5 text-[#262626]">Устанавливайте наше мобильное приложение для
            <a class="underline text-[#060563]" href="https://www.apple.com/app-store/">IOS</a>
            или
            <a class="underline text-[#060563]" href="https://play.google.com/store/apps/details?id=com.google.android.finsky&hl=en&pli=1">Android</a>
          </div>
        </div>
      </div>

      <div class="lg:block md:hidden sm:hidden mobile:hidden lg:w-2/3 md:w-[741px] lg:flex lg:justify-between">
        <div class="flex flex-col gap-[16px]">
          <h2 class="h4 text-[#262626]">Mybank</h2>
          <ul class="flex flex-col gap-[12px]">
            <li class=""><a class="b3 text-[#5C5C5C]">О банке</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Новости</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Вакансии</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Контакты</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Офисы банка и банкоматы</a></li>
          </ul>
        </div>
        <div class="flex flex-col gap-[16px]">
          <h2 class="h4 text-[#262626]">Частным лицам</h2>
          <ul class="flex flex-col gap-[12px]">
            <li class=""><a class="b3 text-[#5C5C5C]">СВИФТ переводы</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Банковские карты</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Микрозаймы</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Автокредиты</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Вклады</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Обмен валют</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Разовые платежи</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Коммунальные услуги</a></li>
          </ul>
        </div>
        <div class="flex flex-col gap-[16px]">
          <h2 class="h4 text-[#262626]">Бизнесу</h2>
          <ul class="flex flex-col gap-[12px]">
            <li class=""><a class="b3 text-[#5C5C5C]">Сотрудничество</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Кредиты</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Гарантии</a></li>
          </ul>
        </div>
      </div>
      <div class="lg:block md:hidden sm:hidden mobile:hidden lg:w-[250px] lg:flex lg:items-end lg:flex-col lg:gap-[76px]">
        <div class="w-[250px] flex flex-col gap-[16px]">
          <h2 class="h4 text-[#262626]">Помощь клиентам</h2>
          <ul class="custom-bullets flex flex-col gap-[12px]">
            <li class=""><a class="b3 text-[#5C5C5C]">Поддержка</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Карта сайта</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Правила безопасности</a></li>
            <li class=""><a class="b3 text-[#5C5C5C]">Персональные данные</a></li>
          </ul>
        </div>
        <div class="flex gap-[14px]">
          <img class="" src="./assets/icons/footer-logo.svg">
          <div class="b5 text-[#262626]">Устанавливайте наше мобильное приложение для
            <a class="underline text-[#060563]" href="https://www.apple.com/app-store/">IOS</a>
            или
            <a class="underline text-[#060563]" href="https://play.google.com/store/apps/details?id=com.google.android.finsky&hl=en&pli=1">Android</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="lg:block md:hidden border solid border-[#E8E8E8]
               lg:mt-[32px] lg:mb-[40px] md:mt-[20px] md:mb-[32px] sm:mb-[32px] mobile:mb-[32px]">
    <div class="md:pb-[24px] sm:pb-[16px] mobile:pb-[16px] text-left b5 text-[#626262]">
      © 2006—2024, АО MyBank, официальный сайт, <br>  универсальная лицензия ЦБ РФ № 2673 (рыба текст)
    </div>
  </div>
</footer>

